<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment (Alex Pensavalle)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ToDo List</h1>
    <% if(todos.length) { %>
      <div>
        <ul>
        <% todos.forEach(todo1 => { %>
          <div>
            <li><%= todo1.todo %> - <%= todo1.done %>&nbsp;&nbsp; 
              <!--<form action="/todos" method="PUT">
              <input type="submit" value="CHANGE STATUS">
              </form>-->
              <form style="display:inline;" action="/todos/<%= todo1.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
                </form>
            </li>
          </div>
        <% }) %>
      </ul>
    </div>
    <% } else { %>
      <h1>You don't have any todos yet!</h1>
    <%}%>

    <hr>
    <form action="/todos" method="POST">
      <input type="text" id="todo" name="todo">
      <input type="submit" value="ADD TO DO">
    </form>
  </body>
</html>
