.container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border-style: double;
  border-radius: 10px;
  margin: 0% 3% 0% 3%;
}
.item-card {
  background-color: #eee;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: rgba(150,150,150,0.5);
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  height: 250px;
  width: 250px;
}
.item-card:hover {
  transform: scale(1.10);
}
.title {
  text-align: center;
}